<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="/styles/regcomplete.css">
</head>
<body>
    <h1>CONGRATULATIONS</h1>
    <h2>you have successfully registered.please login to continue</h2>
    <a href="/">okay</a>
</body>
</html>