<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register.css">
    <title>register</title>
</head>
<body>
    <h1 class="h1">Register here</h1>
    <h2 class="message"><%= message %></h2>
    <form class="form" action="/register" method="post">
        <div class="part"><label for="name">first name(preferred to be called)</label>
        <input type="text" name="fname" placeholder="first name">
        <br>
        <label for="name">last name</label>
        <input type="text" name="lname" placeholder="last name">
        <br>
        <label for="username">username</label>
        <input type="text" name="username" placeholder="username">
        <br>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="password">
        <br>
        <label for="vpassword">verify password</label>
        <input type="password" name="vpassword" placeholder="verify password">
        <div>
            <form action="/forget" method="post" class="form">
                <div><label for="email">email</label>
                <input type="email" name="email">
                <button>send otp</button>
            </div>
            <div>
                <label for="otp">enter otp</label>
                <input type="text" name="otp">
            </div>
            <button type="submit">submit</button>
            </form>
        </div>

        <br>
        <div class="button"><button type="submit">submit</button></div>
        </div>
    </form>
    <a href="/" class="back">back</a>
    
</body>
</html>